In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../kaggle_competition/prueba_simple/data/predict.csv')

In [5]:
df

          id  carat        cut color clarity  depth  table     x     y     z
0          0   0.54    Premium     E     VS2   61.3   59.0  5.26  5.21  3.21
1          1   0.32      Ideal     J     VS2   62.1   54.0  4.38  4.44  2.74
2          2   0.30       Good     H    VVS2   63.6   56.0  4.26  4.29  2.72
3          3   0.66  Very Good     F     SI1   59.2   58.0  5.69  5.72  3.38
4          4   0.42      Ideal     F     VS2   62.0   55.0  4.79  4.82  2.98
...      ...    ...        ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   1.07    Premium     G     SI2   62.5   59.0  6.50  6.47  4.05
13481  13481   0.50    Premium     D     SI2   62.2   58.0  5.14  5.08  3.18
13482  13482   1.14    Premium     H     VS2   61.7   60.0  6.74  6.67  4.14
13483  13483   0.70  Very Good     I     SI1   59.4   62.0  5.77  5.82  3.44
13484  13484   0.34      Ideal     D     VS2   62.3   55.0  4.48  4.45  2.78

[13485 rows x 10 columns]

In [6]:
dic_cut = { "Ideal": 5,
            "Premium": 4,
            "Very Good":3,
            "Good": 2,
            "Fair":1
          }

In [7]:
df.cut = df.cut.map(dic_cut)

In [13]:
df

          id  carat  cut color clarity  depth  table     x     y     z
0          0   0.54    4     E     VS2   61.3   59.0  5.26  5.21  3.21
1          1   0.32    5     J     VS2   62.1   54.0  4.38  4.44  2.74
2          2   0.30    2     H    VVS2   63.6   56.0  4.26  4.29  2.72
3          3   0.66    3     F     SI1   59.2   58.0  5.69  5.72  3.38
4          4   0.42    5     F     VS2   62.0   55.0  4.79  4.82  2.98
...      ...    ...  ...   ...     ...    ...    ...   ...   ...   ...
13480  13480   1.07    4     G     SI2   62.5   59.0  6.50  6.47  4.05
13481  13481   0.50    4     D     SI2   62.2   58.0  5.14  5.08  3.18
13482  13482   1.14    4     H     VS2   61.7   60.0  6.74  6.67  4.14
13483  13483   0.70    3     I     SI1   59.4   62.0  5.77  5.82  3.44
13484  13484   0.34    5     D     VS2   62.3   55.0  4.48  4.45  2.78

[13485 rows x 10 columns]

In [14]:
df.clarity.unique()

array(['VS2', 'VVS2', 'SI1', 'IF', 'VS1', 'SI2', 'VVS1', 'I1'],
      dtype=object)

In [15]:
dic_clarity = {"IF": 8,
            "VVS1": 7,
            "VVS2": 6,
            "VS1": 5,
            "VS2": 4,
            "SI1": 3,
            "SI2": 2,
            "I1": 1
              }

In [16]:
df.clarity = df.clarity.map(dic_clarity)

In [17]:
df

          id  carat  cut color  clarity  depth  table     x     y     z
0          0   0.54    4     E        4   61.3   59.0  5.26  5.21  3.21
1          1   0.32    5     J        4   62.1   54.0  4.38  4.44  2.74
2          2   0.30    2     H        6   63.6   56.0  4.26  4.29  2.72
3          3   0.66    3     F        3   59.2   58.0  5.69  5.72  3.38
4          4   0.42    5     F        4   62.0   55.0  4.79  4.82  2.98
...      ...    ...  ...   ...      ...    ...    ...   ...   ...   ...
13480  13480   1.07    4     G        2   62.5   59.0  6.50  6.47  4.05
13481  13481   0.50    4     D        2   62.2   58.0  5.14  5.08  3.18
13482  13482   1.14    4     H        4   61.7   60.0  6.74  6.67  4.14
13483  13483   0.70    3     I        3   59.4   62.0  5.77  5.82  3.44
13484  13484   0.34    5     D        4   62.3   55.0  4.48  4.45  2.78

[13485 rows x 10 columns]

In [18]:
df.color.unique()

array(['E', 'J', 'H', 'F', 'G', 'I', 'D'], dtype=object)

In [19]:
dic_color = {"D": 1,
             "E": 2,
             "F": 3,
             "G": 4,
             "H": 5,
             "I": 6,
             "J": 7
              }

In [20]:
df.color = df.color.map(dic_color)

In [21]:
df

          id  carat  cut  color  clarity  depth  table     x     y     z
0          0   0.54    4      2        4   61.3   59.0  5.26  5.21  3.21
1          1   0.32    5      7        4   62.1   54.0  4.38  4.44  2.74
2          2   0.30    2      5        6   63.6   56.0  4.26  4.29  2.72
3          3   0.66    3      3        3   59.2   58.0  5.69  5.72  3.38
4          4   0.42    5      3        4   62.0   55.0  4.79  4.82  2.98
...      ...    ...  ...    ...      ...    ...    ...   ...   ...   ...
13480  13480   1.07    4      4        2   62.5   59.0  6.50  6.47  4.05
13481  13481   0.50    4      1        2   62.2   58.0  5.14  5.08  3.18
13482  13482   1.14    4      5        4   61.7   60.0  6.74  6.67  4.14
13483  13483   0.70    3      6        3   59.4   62.0  5.77  5.82  3.44
13484  13484   0.34    5      1        4   62.3   55.0  4.48  4.45  2.78

[13485 rows x 10 columns]

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [33]:
min_max = MinMaxScaler()

In [34]:
df["carat"] = min_max.fit_transform(df[["carat"]])

In [35]:
df["cut"] = min_max.fit_transform(df[["cut"]])

In [36]:
df["color"] = min_max.fit_transform(df[["color"]])

In [37]:
df["clarity"] = min_max.fit_transform(df[["clarity"]])

In [38]:
df["depth"] = min_max.fit_transform(df[["depth"]])

In [39]:
df["table"] = min_max.fit_transform(df[["table"]])

In [40]:
df["x"] = min_max.fit_transform(df[["x"]])

In [41]:
df["y"] = min_max.fit_transform(df[["y"]])

In [42]:
df["z"] = min_max.fit_transform(df[["z"]])

In [43]:
df

,id,carat,cut,color,clarity,depth,table,x,y,z
0,0,0.070686,0.75,0.166667,0.428571,0.378676,0.444444,0.489758,0.494307,0.459885
1,1,0.024948,1.00,1.000000,0.428571,0.408088,0.305556,0.407821,0.421252,0.392550
2,2,0.020790,0.25,0.666667,0.714286,0.463235,0.361111,0.396648,0.407021,0.389685
3,3,0.095634,0.50,0.333333,0.285714,0.301471,0.416667,0.529795,0.542694,0.484241
4,4,0.045738,1.00,0.333333,0.428571,0.404412,0.333333,0.445996,0.457306,0.426934
...,...,...,...,...,...,...,...,...,...,...
13480,13480,0.180873,0.75,0.500000,0.142857,0.422794,0.444444,0.605214,0.613852,0.580229
13481,13481,0.062370,0.75,0.000000,0.142857,0.411765,0.416667,0.478585,0.481973,0.455587
13482,13482,0.195426,0.75,0.666667,0.428571,0.393382,0.472222,0.627561,0.632827,0.593123
13483,13483,0.103950,0.50,0.833333,0.285714,0.308824,0.527778,0.537244,0.552182,0.492837
13484,13484,0.029106,1.00,0.000000,0.428571,0.415441,0.333333,0.417132,0.422201,0.398281

In [54]:
df.to_csv("diamonds2_clean.csv")